div.arrow-left {
  transform: rotate(90deg);
}

div.arrow-right {
  transform: rotate(-90deg);
}

div.arrow-large {
  scale: 1.5;
}

div.enter-interaction,
div.module-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(70% - 77px);
  bottom: 65px;
  width: 154px;
  height: 52px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 29px;
  background-color: white;
}

div.enter-interaction>.arrow-small>svg {
  fill: #0084FF;
  opacity: 1;
}

div.module-btn>.arrow-large>svg {
  fill: #0084FF;
}

div.enter-interaction>div.btn-content {
  margin: 0 10px;
  font-weight: 500;
}

div.enter-interaction:hover {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

div.enter-interaction:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

div.module-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 165px);
  top: calc(100% - 150px);
  width: 330px;
  height: 90px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 52px;
  background-color: white;
}

div.module-btn>div.btn-content {
  margin: 0 10px;
  width: 200px;
  text-align: center;
}

div.module-btn>div.btn-content>div.num {
  font-size: 15px;
}

div.module-btn>div.btn-content>div.name {
  font-size: 20px;
}

div.module-btn>div.arrow-left,
div.module-btn>div.arrow-right {
  text-align: center;
  width: 60px;
  height: 45px;
}

div.module-btn>div.btn-content:hover {
  cursor: default;
}

div.module-btn>div.arrow-left,
div.module-btn>div.arrow-right:hover {
  cursor: pointer;
}

div.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(100% - 50px);
  bottom: calc(100% - 50px);
  width: 40px;
  height: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 14px;
  background-color: white;
}

div.close-btn>svg {
  scale: 2.5;
  fill: #0A365D;
}

div.close-btn:hover {
  cursor: pointer;
}

div.module-desc-container {
  display: flex;
  align-items: start;
  justify-content: start;
  position: absolute;
  left: calc(50% - 225px);
  bottom: calc(25% - 45px);
  width: 450px;
  height: 90px;
  font-family: "Jersey 10", "Plus Jakarta Sans";
  font-size: 18px;
  border: 3px double black;
  text-align: start;
  letter-spacing: 0.5px;
  /* border-radius: 52px; */
  background-color: white;
}

div.module-desc-content {
  margin: 10px;
}

div.module-desc-content:hover {
  cursor: default;
}

div.theme-toggle-btn, div.sound-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(100% - 50px);
  bottom: calc(100% - 50px);
  width: 40px;
  height: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 14px;
  background-color: white;
}

div.sound-toggle-btn{
  bottom: calc(100% - 140px);
}

div.left-align {
  /* left: 10px; */
  bottom: calc(100% - 95px);
}

div.theme-toggle-btn>svg.sun {
  scale: 0.8;
  fill: #ffdb3c;
}


div.theme-toggle-btn>svg.moon {
  scale: 0.7;
  fill: #0A365D;
}

div.theme-toggle-btn:hover {
  cursor: pointer;
}

svg.hide {
  display: none;
}

div.hide {
  display: none;
}


div.sound-toggle-btn:hover{
  cursor: pointer;
}

div.sound-toggle-btn>svg {
  scale: 0.7;
  fill: #0A365D;
}

div.sound-toggle-btn>svg.sound-off {
  scale: 0.6;
}




div.pointer {
  /* border: 2px solid black; */
  height: 50px;
  width: 50px;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  /* Center vertically */
}


div.pointer>svg{
  scale: 5;
}

@media only screen and (max-width: 768px) {
  div.module-desc-container {
    width: 400px;
    left: calc(50% - 200px);
    /* Adjust width for tablets and smaller screens */
  }
}


@media only screen and (min-height: 400px) {
  div.module-btn {
    top: calc(100% - 100px);
    /* Adjust width for tablets and smaller screens */
  }
}

@media only screen and (min-height: 900px) {
  div.module-btn {
    top: calc(100% - 150px);
    /* Adjust width for tablets and smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  div.module-desc-container {
    width: 200px;
    height: 110px;
    left: calc(50% - 100px);
    /* Further adjust width for mobile devices */
  }
  div.pointer>svg{
    scale: 5;
  }
}
